<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="components_style.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/components_style.css')}}">


<html>
<header>
    <title>Home</title>
</header>

<body>
    <div class="float-bar">
        <div class="banner">
            <div>Assistente Virtual</div>
        </div>
        <nav class="nav-bar">
            <div class="nav-button">
                <a href="{{url_for('main')}}">Home</a>
            </div>
            <div class="nav-button">
                <a href="{{url_for('components')}}">Componentes</a>
            </div>
            <div class="nav-button">
                <a href="{{url_for('images')}}">Imagens</a>
            </div>
            <div class="nav-button">
                <a href="{{url_for('documentation')}}">Documentação</a>
            </div>
        </nav>
    </div>

    <div class="main">

        <div class="left-side">
            <div class="h2-box">
                <h2> Componentes : </h2>
                <p>Aqui é a lista de Componentes usados para montar o Robô.</p>
            </div>

            <div class="component-box">
                <div class="component-text-box">
                    <div class="h3-box">
                        <h3>Arduino</h3>
                    </div>
                    <div class="p-box">
                        <p>Arduino é uma plataforma de prototipagem eletrônica de hardware livre e de placa
                            única, projetada com um microcontrolador Atmel AVR com suporte de entrada/saída embutido,
                            uma linguagem de programação padrão, a qual tem origem em Wiring, e é essencialmente
                            C/C++. O objetivo do projeto é criar ferramentas que são acessíveis, com baixo custo,
                            flexíveis e fáceis de se usar por principiantes e profissionais. Principalmente para aqueles
                            que não teriam alcance aos controladores mais sofisticados e ferramentas mais
                            complicadas.</p>
                    </div>
                </div>
            </div>

            <div class="component-box">
                <div class="component-text-box">
                    <div class="h3-box">
                        <h3>ESP-32 Cam</h3>
                    </div>
                    <div class="p-box">
                        <p>Este é o ESP32-CAM, uma placa muito pequena que une o poderoso módulo ESP32 com uma câmera
                            OV2640 de 2MP e um slot para cartão MicroSD. Será
                            possível tirar fotos e filmar, enviando essas imagens através da internet e criar uma
                            verdadeira câmera IP com os recursos que precisar. Também é possível armazenar as imagens no
                            cartão MicroSD para ver depois. Se o ambiente estiver muito escuro, acione o LED de flash
                            embutido na placa para melhorar as imagens tiradas! Uma placa perfeita para projetos onde é
                            necessário poder de processamento com uma câmera.</p>
                    </div>
                </div>
            </div>



            <div class="component-box">
                <div class="component-text-box">
                    <div class="h3-box">
                        <h3>Chassi 4WD</h3>
                    </div>
                    <div class="p-box">
                        <p>Kit de montagem de um chassi para aplicações robóticas, educacionais e projetos com Arduino.
                            É composto por 4 motores DC 3-6v com caixa de redução 48:1 e tração nas 4 rodas 4WD.</p>
                    </div>
                </div>
            </div>

            <div class="component-box">
                <div class="component-text-box">
                    <div class="h3-box">
                        <h3>Sensor Ultrassonico</h3>
                    </div>
                    <div class="p-box">
                        <p>O Sensor ultrassônico HC-SR04 é capaz de medir distâncias de 2cm a 4m com ótima precisão e
                            baixo preço. Este módulo possui um circuito pronto com emissor e receptor acoplados e 4
                            pinos (VCC, Trigger, ECHO, GND) para medição.</p>
                    </div>
                </div>
            </div>

            <div class="component-box">
                <div class="component-text-box">
                    <div class="h3-box">
                        <h3>Driver do Motor L298n</h3>
                    </div>
                    <div class="p-box">
                        <p>Este Driver Ponte H é baseado no chip L298N, construído para controlar cargas indutivas como
                            relés, solenoides, motores DC e motores de passo.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="right-side">
            <div class="space-box"></div>

            <div class="img-div">
                <img src="{{url_for('static', filename='img/arduino.jpg')}}" class="img-box">
            </div>

            <div class="img-div">
                <img src="{{url_for('static', filename='img/esp32.jpg')}}" class="img-box">
            </div>

            <div class="img-div">
                <img src="{{url_for('static', filename='img/chassi.jpg')}}" class="img-box">
            </div>

            <div class="img-div">
                <img src="{{url_for('static', filename='img/sensor.jpg')}}" class="img-box">
            </div>

            <div class="img-div">
                <img src="{{url_for('static', filename='img/driver.jpg')}}" class="img-box">
            </div>

        </div>
    </div>

</body>

</html>