body{
    margin: 0px;
    background-color: white;
    font-family: 'Abel', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: white;
}

a:checked{
    color: white;
}

.float-bar{
    position: fixed;
    width: 100%;
}

.banner{
    background-color: #132637;
    padding: 7px;
    display: flex;
}

.banner div{
    padding-left: 30px;
    width: 100%;
    color: white;
    font-size: 30px;
}

.nav-bar{
    display: flex;
    padding-left: 30px;
    background-color: #132637;
}

.nav-button{
    padding: 5px 15px 5px 15px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.nav-button:hover{
    background-color: #274d6e;
}

.nav-button:active{
    border-width: 0px 0px 5px 0px;
    border-color: white;
    border-style: solid;
}

.sidenav {
    height: 100%; 
    width: 240px; 
    position: fixed; 
    z-index: 1;
    top: 85px; 
    left: 0;
    background-color: #0c1822; 
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover{
    background-color: #274d6e;
}

.sidenav h3{
    color: white;
    font-size: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 100;
    background-color: #122433;
    margin-top: 30px;
}

.main{
    margin-left: 240px;
    padding: 100px 20% 100px 10%;
}

.api-box{
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
    box-shadow: #b1b1b1 1px 1px 5px;
    margin-top: 15px;
}

.api-url{
    margin-top: 7px;
    padding: 5px;
    background-color: #dddbdb;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
    box-shadow: #b1b1b1 1px 1px 5px;
    width: 40%;
}

h3{
    display: block;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

p {
    display: block;
    font-size: 16px;
    margin: 2px;
}

.api-sub-box{
    display: flex;
}

.api-sub-box-side{
    display: inline;
    width: 50%;
    margin-left: 0%;
    justify-content: center;
}

.api-sub-box-side img{
    padding: 10px;
    width: 100%;
}